.image{
    width: 56px;
    height: 56px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 25px;
    border-radius: 20px;
}

.container{
    width: 1280px;
    margin: 95px auto -80px !important;
}
.page{
    background-color: #edf0f6;
}
.icon{
    font-size: 25px !important;
}
.icon:hover{
    fill:#000 !important;
}
.word{
    color: #407df4;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.translate{
    font-size: 1rem;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #212529;
}
.MuiTypography-displayBlock
{
    font-size: 22px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination li button{
    font-size: 16px;
}
.sentences{
    display:flex ;
    justify-content: space-between;
}
.sentences div span {
    font-size: 16px;
}
.listItem{
    display: flex;
}
.listItem:first-child{
    margin-right: 10px;
}
.meaning{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 25px 0 15px;    
}
.doEqual{
    height: 46.67px;
    width: 400px;
}
.info{
    overflow: hidden;
    transition: 0.5s;
}
.setting{
    font-size: 30px !important;
    fill: dimgrey !important;
    margin-top: 30px;
    margin-bottom: 20px;
}

.labels{
 display: flex;
 margin-left: 57px;
 height: 110px;
 transition: 0.3s;
}
.transcription{
    font-size: 22px;
}
.containerLabels{
    display: flex;
    justify-content: space-between;
}
ul li button{
    font-size: 18px;
}

@media(max-width:1280px){
    .container{
        width: 768px;
    }
}
@media(max-width:768px){
    .container{
        width: 500px;
    }
}